<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="main.css">
</head>
    <%- include('menu.ejs') %>
<body>

<div class="cont">
    <div class="sys">
        <div class="fl"><div class="lig success"></div>EPR_02</div>
        <div class="des">
            <p><b>Status:</b> On-Line</p>
            <p><b>up to:</b> 26/12/2029</p>
            <p><b>Volume: </b><i>10 GB</i></p>
        </div>
    </div>

    <div class="sys">
        <div class="fl"><div class="lig danger"></div>EPR_03</div>
        <div class="des">
            <p><b>Status:</b> Off-Line</p>
            <p><b>up to:</b> 26/12/2029</p>
            <p><b>Deployed: </b><i>6 day ago</i></p>
        </div>
    </div>

    <div class="sys">
        <div class="fl"><div class="lig warning"></div>EPR_01</div>
        <div class="des">
            <p><b>Status:</b> Actention Req</p>
            <p><b>up to:</b> 26/12/2029</p>
            <p><b>Main dir: </b><i>/use/main</i></p>
        </div>
    </div>
 
</div>

    
</body>
</html>