<div class="menu">
    <div class="logo">Logo</div>

    <a href="index" class="voce">
        <span class="material-symbols-outlined">home</span>
        <span class="testo">Home</span>
    </a>
    <a href="index" class="voce">
        <span class="material-symbols-outlined">home</span>
        <span class="testo">Home</span>
    </a>
    <a href="index" class="voce">
        <span class="material-symbols-outlined">home</span>
        <span class="testo">Home</span>
    </a>
    <a href="index" class="voce">
        <span class="material-symbols-outlined">home</span>
        <span class="testo">Home</span>
    </a>
    <a href="index" class="voce">
        <span class="material-symbols-outlined">home</span>
        <span class="testo">Home</span>
    </a>

    <div class="last">
        <a href="logout" class="voce">
            <span class="material-symbols-outlined">logout</span>
            <span class="testo">Log out</span>
        </a>
    </div>
</div>