@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    transition: 1.7s ease-in-out;
    row-gap: 50px;
    flex-direction: column;
}

form {
    display: flex;
    column-gap: 10px;
}

form>*,
.user {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 20px;
    background-color: #181818;
    border: 0px;
    color: #555555;
    min-width: 56px;
    border: 3px solid #6e6e6e;
    padding: 5px 20px;
    column-gap: 5px;
}

.user {
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.user span {
    font-weight: 800;
}

.danger{
    color: #cc0000;
}

form>*.err {
    border: 3px solid #8f1515;
    -webkit-animation: shakeX 1s both;
    animation: shakeX 1s both;
}

@keyframes shakeX {

    0%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
}

form>*:first-child {
    border-radius: 20px 0px 0px 20px;
}

form>*:last-child {
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}


@media screen and (max-width: 992px) {
    form {
        flex-direction: column;
        row-gap: 6px;
    }

    form>*:first-child {
        border-radius: 20px 20px 0px 0px;
    }

    form>*:last-child {
        border-radius: 0px 0px 20px 20px;
        cursor: pointer;
    }
}

*:focus {
    outline: 1px solid #f0f8ff8a;
    animation: back 1.5s infinite;
}

@keyframes back {
    0% {
        outline-offset: 7px;
    }

    50% {
        outline-offset: 0px;
    }

    100% {
        outline-offset: 0px;
    }

}

.dati {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.dati {
    color: aliceblue;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.dati * {
    font-family: system-ui;
}

.flag {
    display: flex;
    aspect-ratio: 3/2;
    height: 30px;
    overflow: hidden;
    border-radius: 4px;
}

.bar {
    flex: 1;
    height: 0;
    animation: bar 1.5s ease-in-out forwards;
}

.b1 {
    background-color: #CD212A;
    animation-delay: 0.6s;
}

.b2 {
    background-color: #F4F9FF;
    animation-delay: 0.4s;
}

.b3 {
    background-color: #008C45;
}

@keyframes bar {
    0% {
        height: 0;
    }

    100% {
        height: 200px;
    }
}

.bott {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
    align-items: center;
    column-gap: 12px;
    color: aliceblue;
}